#homeback {
  // background-image: url('../images/background_1.png');
  transition: background-image 2s;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
}

.main {
  margin-top: 50px;
}
