.navbar-default {
  background-color: white;
  margin-bottom: 0;
  height: 10px;
  z-index: 1;
}

.navbar-header {
  float: left;
}

.navbar-right {
  float: right;
}

.fa-twitter {
  color: #00aced;
  font-size: 24px;
}

.nav {
  width: 150px;

}

.dropdown-menu {
  z-index: 2;
  background-color: white;


}

li {
  background-color: white;
}
